.card{
    position: relative;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.form-group{
    margin-bottom: 1rem;
}

#submit{
    position: relative;
    left: 25vh;
    margin-bottom: 0.5rem;
    width: 10rem;
}

.collapse{
    justify-content: space-between;
}
